#!/bin/sh

if [ -z "$1" ] || [ -z "$2" ];
  then
    echo "Source and sink service keys are required."
    exit
fi

mvn clean package -DskipTests

docker build -t metaslurper .

docker run \
    -e SERVICE_SOURCE_IDB_KEY='databank' \
    -e SERVICE_SOURCE_IDB_ENDPOINT='https://databank.illinois.edu/' \
    -e SERVICE_SOURCE_DLS_KEY='dls' \
    -e SERVICE_SOURCE_DLS_ENDPOINT='https://digital.library.illinois.edu/' \
    -e SERVICE_SOURCE_IDEALS_KEY='ideals' \
    -e SERVICE_SOURCE_IDEALS_ENDPOINT='https://ideals.illinois.edu/' \
    -e SERVICE_SOURCE_BOOK_TRACKER_KEY='book' \
    -e SERVICE_SOURCE_BOOK_TRACKER_ENDPOINT='https://medusa.library.illinois.edu/book_tracker' \
    -e SERVICE_SINK_METASLURP_KEY='metaslurp' \
    -e SERVICE_SINK_METASLURP_ENDPOINT='https://metadata.library.illinois.edu/' \
    -e SERVICE_SINK_METASLURP_USERNAME='user' \
    -e SERVICE_SINK_METASLURP_SECRET='secret' \
    metaslurper \
    java -jar metaslurper.jar -source $1 -sink $2 -threads 2
