#!/bin/sh
#
# Script for launching an ECS task using the aws command-line tool.
#
# Note that the aws tool is only one way of launching tasks, and probably not
# the best way in many situations. Other ways include the human-friendly AWS
# web UI and the machine-friendly ECS API.
#
# See: https://docs.aws.amazon.com/cli/latest/reference/ecs/run-task.html
#

ECS_CLUSTER=metaslurper-dev
ECS_TASK_DEFINITION=metaslurper:5
ECS_SUBNET=subnet-xxxxxxxx
ECS_SECURITY_GROUP=sg-xxxxxxxx

if [ -z "$1" ] || [ -z "$2" ];
  then
    echo "Source and sink service keys are required."
    exit
fi

aws ecs run-task --launch-type FARGATE \
    --cluster $ECS_CLUSTER \
    --task-definition $ECS_TASK_DEFINITION
    --network-configuration "awsvpcConfiguration={subnets=[$ECS_SUBNET],securityGroups=[$ECS_SECURITY_GROUP],assignPublicIp=ENABLED}" \
    --overrides '{ "containerOverrides": [ { "name": "metaslurper", "command": [ "java", "-jar", "metaslurper.jar", "-source", "'$1'", "-sink", "'$2'", "-threads", "2" ] } ] }' \
