# Sink (destination) service
service.sink.endpoint = https://metadata.library.illinois.edu
service.sink.username =
service.sink.secret =

# DLS source service
service.source.medusa_dls.endpoint = https://digital.library.illinois.edu
service.source.medusa_dls.batch_size = 100
