#######################################################################
# SOURCE SERVICES
#######################################################################

# DLS
service.source.medusa_dls.key = dls
service.source.medusa_dls.endpoint = https://digital.library.illinois.edu
service.source.medusa_dls.batch_size = 100

#######################################################################
# SINK SERVICE
#######################################################################

service.sink.endpoint = https://metadata.library.illinois.edu
service.sink.username =
service.sink.secret =