#######################################################################
# SOURCE SERVICES
#######################################################################

# Illinois Data Bank
service.source.databank.key = databank
service.source.databank.endpoint = https://databank.illinois.edu/

# Medusa Book Tracker
service.source.medusa_book_tracker.key = book
service.source.medusa_book_tracker.endpoint = https://medusa.library.illinois.edu/book_tracker

# DLS
service.source.medusa_dls.key = dls
service.source.medusa_dls.endpoint = https://digital.library.illinois.edu
service.source.medusa_dls.batch_size = 100

# IDEALS
service.source.ideals.key = ideals
service.source.ideals.endpoint = https://www.ideals.illinois.edu/dspace-oai/request

#######################################################################
# SINK SERVICE
#######################################################################

service.sink.metaslurp.endpoint = https://metadata.library.illinois.edu
service.sink.metaslurp.username =
service.sink.metaslurp.secret =
