#
# Copy to env.list and DO NOT commit that file to version control.
#

###########################################################################
# EXPORTED ENVIRONMENT VARIABLES
# These are used by the various .sh scripts. They are also copied into the
# container, but not used there.
###########################################################################

AWS_PROFILE=
AWS_REGION=us-east-2
ECR_HOST=

ECS_CLUSTER=metaslurper
ECS_SUBNET=
ECS_SECURITY_GROUP=
